<div class="container" style="margin-top: 100px;">
  <div class="row">
    <div class="col-md-4 bai-jamjuree">
      <h1 class="blog-name"><i class="fab fa-blogger"></i> Hirrot's Blog</h1>
      <% if current_user.try(:admin?) %>
        <%= link_to 'New Blog', new_blog_path, class: 'btn btn-dark btn-lg' %>
      <% end %>
      <div class="news-area my-4">
        <h2 class="news-heading">新着情報</h2>
        <ul class="news-wrapper area-break">
          <% @topics.each do |topic| %>
            <li>
              <div class="text-right pr-3">
                <% if current_user.try(:admin?) %>
                  <%= link_to '削除する', topics_path(topic), class: 'badge badge-danger', method: :delete, data: { confirm: '本当に削除しますか？' } %>
                <% end %>
                <%= topic.created_at.strftime("%y年%m月%d日 %H:%M") %>
              </div>
              <div class="news-content">
                <% if (topic.created_at.to_date) >= (Date.today - 1) %>
                  <span class="text-white badge badge-warning">new!</span>
                <% end %>
                <%= topic.title %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <% if current_user.try(:admin?) %>
        <%= form_with model: Topic.new, url: topic_path do |form| %>
          <div class="form-group">
            <%= form.label '新着情報を追加' %>
            <%= form.text_field :title, class: 'form-control' %>
          </div>
          <%= form.submit '追加する', class: 'btn btn-dark' %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-8">
      <% if @pined_blog.present? %>
        <p><i class="fas fa-map-pin"></i> ピン留めされた投稿</p>
        <div class="row pined mb-5">
          <%= render 'blog', blog: @pined_blog %>
        </div>
      <% end %>
      <%= paginate @blogs %>
      <% @blogs.each do |blog| %>
        <div class="row">
          <%= render 'blog', blog: blog %>
        </div>
      <% end %>
      <%= paginate @blogs %>
    </div>
  </div>
</div>
