<style>
  img
  {
    width: 100%;
    margin: 30px 0;
  }

  h1
  {
    margin: 30px 0;
  }

  h2
  {
    margin: 30px 0;
  }
</style>
<div class="blog-wrapper container">
  <h1 class="profile-heading"><span><%= @blog.title %></span></h1>
  <div class="row">
    <div class="col-md-9 mx-auto area-break">
      <div class="text-right">
        <% if @blog.is_publish? %>
          <span class="badge badge-success">公開中</span>
        <% else %>
          <span class="badge badge-warning">未公開</span>
        <% end %>
        <%= @blog.published_on.try(:strftime, '%y年%m月%d日') %>
      </div>
      <div class="mb-5">
        <% @blog.tag_list.each do |tag| %>
          <li class="badge badge-dark"><%= tag %></li>
        <% end %>
      </div>
      <div class="area-break mb-5">
        <%= markdown(@blog.content).html_safe %>
      </div>
      <%= link_to '一覧へ戻る', blogs_path, class: 'btn btn-secondary' %>
      <% if current_user.try(:admin?) %>
        <%= link_to '編集する', edit_blog_path(@blog), class: 'btn btn-dark' %>
        <%= link_to '削除する', blog_path(@blog), class: 'btn btn-danger', method: :delete, data: { confirm: '一度行った処理は戻せません。本当に削除しますか？' } %>
      <% end %>
    </div>
  </div>
</div>
