<%= form_for(@user, url: session_path(@user), html: { class: 'login' }) do |f| %>
  <fieldset>
    <legend class="legend">ログイン</legend>
    <div class="input">
      <%= f.email_field :email, autocomplete: "email", placeholder: 'メールアドレス' %>
      <span><i class="far fa-envelope"></i></span>
    </div>
    <div class="input">
      <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワード' %>
      <span><i class="fa fa-lock"></i></span>
      <p class="mt-3"><%= link_to 'Blog', blogs_path, class: 'plain-links', style: 'font-size: 2.2rem;' %> 閲覧は会員登録・ログイン不要です！(一部閲覧制限あり)</p>
    </div>

    <div class="row mb-5">
      <div class="col-10 mx-auto">
        <% if devise_mapping.rememberable? -%>
          <label class="checkbox d-block">
            <%= f.check_box :remember_me %>
            次回から自動ログイン
          </label>
        <% end -%>
        <%= link_to '会員登録がお済みでない方はこちら', new_user_registration_path, class: 'btn btn-dark btn-lg' %>
      </div>
    </div>

    <button type="submit" class="submit"><i class="fas fa-sign-in-alt"></i></button>
  </fieldset>
  <div class="feedback">
    login successful <br />
    redirecting...
  </div>
<% end %>
