<!DOCTYPE html>
<html>
  <head>
    <title>Hirrot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= show_meta_tags %>

    <link href="https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="navToggle">
        <div class="icon"></div>
      </div>

      <ul class="clearfix">
        <li><%= link_to 'TOP', root_path %></li>
        <li><%= link_to 'EXPERIENCES', experiences_path %></li>
        <li><%= link_to 'BLOG', blogs_path %></li>
        <% if user_signed_in? %>
          <li><%= link_to 'LOG OUT', destroy_user_session_path, method: :delete %></li>
          <li><%= link_to 'ADMIN', admin_root_path if current_user.admin? %></li>
        <% else %>
          <li class="auth-menu">
            <%= link_to 'SIGN UP', new_user_registration_path, class: 'auth-menu-item' %>
            or
            <%= link_to 'LOG IN', new_user_session_path, class: 'auth-menu-item' %>
          </li>
        <% end %>
      </ul>
    </nav>
    <main style="margin-bottom:60px;">
      <% if notice %><div class="alert alert-success text-center mb-0"><%= notice %></div><% end %>
      <% if alert %><div class="alert alert-warning text-center mb-0"><%= alert %></div><% end %>
      <%= yield %>
    </main>
  </body>
</html>
